<main class="content">
  <div class="container-fluid">

    <div class="header">
      <h1 class="header-title">
        จัดการหลักสูตรการอบรม
      </h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <!-- <li class="breadcrumb-item"><a href="dashboard-default.html">หน้าหลัก</a></li> -->
          <li class="breadcrumb-item"><a href="#">จัดการหลักสูตรการอบรม</a></li>
          <!-- <li class="breadcrumb-item active" aria-current="page">Blank Page</li> -->
        </ol>
      </nav>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
                              <div class="card-header" style="margin-bottom: -40px;">
                                  <h3 class="card-title">หลักสูตรการอบรม</h3>
                                  <div class="float-right">
                                      <a href="ocb_black02.html"><button class="btn btn-primary" style="margin-top: -60px;">เพิ่มหลักสูตรการอบรม</button></a>
                                  </div>
                              </div>
                              <div class="card-body">
                                  <br>
                                  <table id="datatables-basic" class="table table-striped" style="width:100%">
                                      <thead>
                                          <tr>
                                              <th>No.</th>
                                              <th>ชื่อหลักสูตรการอบรม</th>
                                              <th>คำอธิบายหลักสูตรการอบรม</th>
                                              <th>กำหนดระยะเวลาอบรม</th>
                                              <th>รูปภาพหัวข้อหลักสูตรการอบรม</th>
                                              <th><i class="align-middle mr-2 fas fa-fw fa-cog"></i> </th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <tr>
                                              <td>1.</td>
                                              <td>ตัวอย่างชื่อหลักสูตรการอบรม</td>
                                              <td>ตัวอย่างคำอธิบายหลักสูตรการอบรม</td>
                                              <td>01/01/2563 - 31/01/2563</td>
                                              <td>
                                                  <img src="img/img_13.jpg" width="200px">
                                              </td>
                                              <td>                               
                                                  <i class="align-middle mr-2 fas fa-fw fa-pen"></i>
                                                  <i class="align-middle mr-2 fas fa-fw fa-trash-alt"></i> 
                                              </td>
                                          </tr>
                                      </tbody>
                                  </table>
                              </div>
        </div>
      </div>
    </div>

  </div>
</main>