<div class="header">
    <h1 class="header-title">
        จัดการหลักสูตรอบรม
    </h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <!-- <li class="breadcrumb-item"><a href="dashboard-default.html">หน้าหลัก</a></li> -->
            <li class="breadcrumb-item"><a href="#">จัดการหลักสูตรอบรม</a></li>
            <!-- <li class="breadcrumb-item active" aria-current="page">Blank Page</li> -->
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <!-- <div class="card-header">
                <h5 class="card-title mb-0">รายละเอียด</h5>
            </div> -->
            <div class="card-body">
    
                <div class="form-group">
                    <label class="form-label">ชื่อหลักสูตรการอบรม</label>
                    <input type="text" class="form-control" placeholder="ชื่อหลักสูตรการอบรม">
                </div>

                <div class="form-group">
                    <label class="form-label">คำอธิบายหลักสูตรการอบรม</label>
                    <input type="text" class="form-control" placeholder="คำอธิบายหลักสูตรการอบรม">
                </div>

                <div class="row">
                    <div class="col-12 col-xl-12">
                        <label>กำหนดระยะเวลาอบรม</label>
                    </div>
                    <div class="col-12 col-xl-3">
                        <div class="form-group">   
                            <div class="input-group date" id="datetimepicker-minimum" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker-minimum" />
                                <div class="input-group-append" data-target="#datetimepicker-minimum" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>  
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-xl-1">                                             
                        <div class="form-group" align="center" >
                            ถึง
                        </div>
                    </div>

                    <div class="col-12 col-xl-3">                                             
                        <div class="form-group">
                            <div class="input-group date" id="datetimepicker-view-mode" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker-view-mode" />
                                <div class="input-group-append" data-target="#datetimepicker-view-mode" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-label">วิทยากร</label>
                    <input type="text" class="form-control" placeholder="ชื่อวิทยากร">
                </div>

                <div class="form-group">
                    <label class="form-label">ปีงบประมาณ</label>
                    <input type="text" class="form-control" placeholder="ชื่อวิทยากร">
                </div>

                <div class="row">
                        <div class="col-12 col-xl-12">
                            <label>ช่วงเวลาเปิดรับสมัคร</label>
                        </div>
                        <div class="col-12 col-xl-3">
                            <div class="form-group">   
                                <div class="input-group date" id="datetimepicker-minimum" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker-minimum" />
                                    <div class="input-group-append" data-target="#datetimepicker-minimum" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>  
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-xl-1">                                             
                            <div class="form-group" align="center" >
                                ถึง
                            </div>
                        </div>

                        <div class="col-12 col-xl-3">                                             
                            <div class="form-group">
                                <div class="input-group date" id="datetimepicker-view-mode" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker-view-mode" />
                                    <div class="input-group-append" data-target="#datetimepicker-view-mode" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                <div class="form-group">
                    <label class="form-label">รูปภาพหัวข้อหลักสูตรการอบรม</label><br>
                    <input type="file" />
                </div>
                
                <div class="row">
                    <div class="col-md-6">
                        <button class="btn btn-primary">บันทึก</button>
                        <button class="btn btn-danger">ยกเลิก</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

