<main class="content">
    <div class="container-fluid">

        <div class="header">
            <h1 class="header-title">
                จัดการสไลด์โชว์
            </h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <!-- <li class="breadcrumb-item"><a href="dashboard-default.html">หน้าหลัก</a></li> -->
                    <li class="breadcrumb-item"><a href="#">จัดการสไลด์โชว์</a></li>
                    <!-- <li class="breadcrumb-item active" aria-current="page">Blank Page</li> -->
                </ol>
            </nav>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <!-- <div class="card-header">
                        <h5 class="card-title mb-0">รายละเอียด</h5>
                    </div> -->
                    <div class="card-body">
            
                        <div class="form-group">
                            <label class="form-label">ชื่อรูปภาพ</label>
                            <input type="text" class="form-control" placeholder="ชื่อรูปภาพ">
                        </div>

                        <div class="form-group">
                            <label class="form-label">คำอธิบายรูปภาพ</label>
                            <input type="text" class="form-control" placeholder="คำอธิบายรูปภาพ">
                        </div>

                        <div class="form-group">
                            <label class="form-label">รูปภาพสไลด์โชว์</label><br>
                            <input type="file" />
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <button class="btn btn-primary">บันทึก</button>
                                <button class="btn btn-danger">ยกเลิก</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</main>
